<html>
<head>
    <title>tri-fi</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/js/trifi.js"></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="main">

<!--        <div id="map-3" class="map"></div> -->
        <div id="map"></div>
<!--        <div id="map-5" class="map"></div> -->

        <div id="menu">
            <div id="search_controls">
                <input id="realtime" type="checkbox" />realtime<br/>
                <input id="search" disabled="disabled" placeholder="enter a name"/>
            </div>
            <div id="employees">
                <ul id="following">

                </ul>
            </div>
        </div>
    </div>
</body>
</html>